streamlit
langchain
langchain-community
langchain-openai
chromadb
sentence-transformers
huggingface-hub
ollama
pandas
python-docx
openpyxl
python-pptx
PyPDF2
unstructured
torch>=2.2.0
transformers>=4.30.0 